PORT=3010
NODE_ENV=development
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=bin-ecommerce-media-dev
MEDIA_PUBLIC_CDN_URL=https://cdn.example.com
MEDIA_UPLOAD_EXPIRES_SECONDS=300
MEDIA_MAX_UPLOAD_SIZE_BYTES=5242880
